BUFFER_API_KEY=replace_with_your_new_key
GOOGLE_DRIVE_FOLDER_ID=1Mxstz4pRfiqMVbdQJdUys3J__rY8CvYa
GOOGLE_DRIVE_API_KEY=replace_with_your_google_api_key
BUFFER_CHANNEL_ID=
TIMEZONE=Europe/Paris
POST_TIMES=13:45,16:45,18:45,20:45
QUEUE_TARGET=10
